.main {
  min-height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  border-radius: 50%;
}

.profile1 {
  display: none;
}

.account:hover,
.account1:hover {
  cursor: pointer;
}


.accdrop {
  position: absolute;
  top: 35px;
  right: 35px;
  background-color: #282828;
  width: 170px;
  padding: 5px;
  border-radius: 4px;
}

.accdrop li:nth-child(3) {
  margin-top: 5px;
  border-top: 1px solid rgb(72, 72, 72);
}

.accountImg {
  width: 35px;
  height: 35px;
  margin: 2px;
  border-radius: 50%;
}

.nav_item {
  list-style: none;
  padding: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav_item:hover {
  color: white;
  background-color: #545454;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  padding: 20px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  background-color: rgb(18, 44, 57);
}

.object-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accContainer {
  border-radius: 5px;
  padding: 25px !important;
  margin-top: 50px !important;
  max-width: 1200px;
  border: 1px solid rgb(72, 72, 72);
  background: #0a1014;
  /* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

/* .main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
} */

.forms {
  display: flex;
  align-items: center;
  /* max-width: 800px; */
  justify-content: space-evenly;
  border: 1px solid rgb(72, 72, 72);
  border-radius: 5px;
  max-width: 1000px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.passform{
  border: 1px solid rgb(72, 72, 72);
  border-radius: 5px;
  max-width: 1000px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}


@media screen and (max-width: 993px) {
  .main {
      display: flex;
      flex-direction: column;
  }

  .forms {
      display: flex;
      flex-direction: column;
  }

  .alert{
      font-size: 10px;
      max-width: 170px;
  }

  .alert1{
      margin-top: 55px !important;
  }

  .account1 {
    position: absolute;
    top: 11px;
    left: 5px;
    display: block;
  }

  .profile {
    display: none;
  }

  .profile1 {
    display: block;
  }

  .accdrop {
    left: 25px;
    right: 0;
    width: 150px;
  }
}